/* Media Query para largura máxima de 600px */

@media (max-width: 500px) {
    h2 {
        font-size: 24px;
    }
    
    body {
        padding-top: 100px;
    }

    header {
        height: 150px;
    }
    
    .material-symbols-outlined { 
        font-size: 35px;
        display: flex;
        justify-content: center;
    }

    span:hover {
        background-color: black;
        color: rgb(241, 71, 71);
    }

    .menu-visivel {
        display: block;   
    }

    span {
        background-color: white;
        color: black;
        width: 120vw;
        height: 35px;
        cursor: pointer;
        position: fixed;
        top: 21%;
        left: 51%;
        transform: translate(-50%, -50%);
    }

    .container-buttons {
        gap: 18px;
        padding: 10px;
        display: none;
    }
    
    ul {
        grid-template-columns: 150px 150px;
    }
    
    li {
        margin: 10px;
        width: 120px;
    }
    
    img {
        height: 80px;
    }
    
    p {
        font-size: 14px;
    }
    
    button {
        width: 100%;
        padding: 40px;
        transform: translate(0%, 114%);
        border-radius: 0;
    }

    
    .price {
        font-size: 20px;
    }

    .list {
        margin-top: 53px;
    }

    
}